body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: white;
  background-color: blue;
  font-family: sans-serif;
}

.container {
  width: 870px;
  height: 230px;
  margin-top: 20px;
  border: 3px white solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.location {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  font-size: 20px;
  width: 480px;
  padding: 0;
  margin-right: 0;
}

.name {
  font-size: 40px;
}

ul {
  list-style-type: none;
}

.weather {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.data {
  display: flex;
  font-size: 40px;
}

input {
  width: 600px;
  height: 25px;
  border: 3px white solid;
  border-radius: 10px;
}

button {
  width: 100px;
  height: 34px;
}

.control {
  display: flex;
  gap: 10px;
}

.feel {
  margin-top: 70px;
  font-size: 14px;
  margin-right: 10px;
}

.lightrain {
  font-size: 20px;
  margin-top: 7px;
}

icon {
  height: 30px;
  width: 30px;
}
